name: Build and Deploy Frontend

on:
  push:
    branches:
      - master
      - main
    paths: 
      - 'frontend/**'

env:
  APP_VERSION: v1.0.${{ github.run_number }}

jobs:
  build:
    name: Build & Deploy
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v5
        
      - name: Set up Node.js 24
        uses: actions/setup-node@v6
        with:
          node-version: 24
      - run: npm ci
      - run: npm test
      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
        run: npm run build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/three-agents-frontend:${{ env.APP_VERSION }}
      - name: Deploy to AWS EC2
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_INSTANCE_PUBLIC_IP }}
          username: ec2-user
          key: ${{ secrets.SSH_KEY }} # store the SSH password as a secret in the repository
          script: |
            cd /home/ec2-user/ops-basic-spring
            sudo /usr/local/bin/docker-compose  down || true
            sed -i 's/image: ${{ secrets.DOCKERHUB_USERNAME }}\/three-agents-frontend:.*/image: ${{ secrets.DOCKERHUB_USERNAME }}\/three-agents-frontend:v1.0.${{ github.run_number }}/g' /home/ec2-user/three-agents/docker-compose.yml
            sudo /usr/local/bin/docker-compose  up -d || true
